.headerSection {
  min-width: 100vw;
  background-image: url(assets/headerBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin-top: 50px;
}

.heroSection {
  border: 3px solid #242424;
  background-color: rgba(240, 248, 255, 0.5);
  box-shadow: 0px 1px 20px 7.5px black;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  transform: translate(0%, 90%);
}

.headerTitle {
  font-size: 100px;
  padding: 20px;
  margin-bottom: 30px;
  text-shadow: -3px 3px 3px #242424a6;
}

.hook {
  font-weight: bold;
  text-shadow: -1px 1px 3px #242424a6;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .headerTitle {
    font-size: 40px;
  }

  .hook {
    font-size: 15px;
  }
}
