.testimonialSection {
  padding: 50px;
  background-color: #C63F3F;
  margin-bottom: -5px;
  margin-top: -5px;
}

.testimonialSection h2 {
  font-size: 50px;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.test1,
.test3,
.name1,
.name3 {
  display: flex;
  flex-direction: row-reverse;
}

.testimonialContainer {
  display: flex;
  padding: 20px;
}

.testimonialInfo {
  max-width: 60%;
  padding: 20px;
}

.testimonial {
  text-align: center;
}

.coupleNames {
  padding: 10px;
  font-weight: bold;
}

.testimonialImage {
  width: 150px;
  height: 150px;
  padding: 20px;
  box-shadow: 2px 10px 5px #242424;
  
}

.Couple1 {
  background-image: url(assets/CoupleImages/Couple1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.Couple2 {
  background-image: url(assets/CoupleImages/Couple2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.Couple3 {
  background-image: url(assets/CoupleImages/Couple3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
 .testimonialImage {
  width: 50px;
  height: 50px;
  margin: auto;
 } 

 .testimonial, .coupleNames {
  font-size: small;
 }
}