.card2Img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.card2Container {
    display: flex;
    width: 80%;
    height: 250px;
    background-color: var(--tirtiary-color);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 0.5s;
}

.card2InfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2Title {
    padding: 0;
    margin: 0;
}

.card2Text {
    padding-left: 10%;
    padding-right: 10%;
}

.card2Container:hover {
    transform: scale(1.1);
}
