body {
    font-family: Bebas Neue;
    overflow-x: hidden;
}

button {
    z-index: 1;
    border: none;
    outline: none;
    background-color: #e7d7b8;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    color: #242424;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #e5d8bf;
}
  
button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

.btnContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    margin-top: 145px;
    margin-left: 60px;
}

h1 {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.quotesDiv {
    position: absolute;
    max-width: 375px;
    margin: auto;
    margin-top: 450px;
}

#quoteDisplay {
    display: flex;
    justify-content: center;
    justify-items: center;
}

p {
    text-align: center;
    color: azure;
}

img {
    max-width: 400px;
    opacity: 75%;
    z-index: 0;
}

.allContainer {
    z-index: 0;
    display: flex;
    justify-content: center;
}